html
  head
    title Log in
  body
    h1 Welcome to Dup-remover
    button(type='button', onclick='redirectToLogin()') Click Me

    script.
      function redirectToLogin() {
        window.location.href = '/login';
      }
